body{
    height: 640px;
    font-family: Salsa;
    background: linear-gradient(rgba(242,99,99,1), rgba(14,154,255,0.4000000059604645));
}

h1{
    font-size: 40px;
    text-align: center;
}

.Mic{
    width: 60px;
    height: 60px;
}

button{
    height: 80px;
    width: 80px;
    background-color: #F26464;
    border-radius: 20%;
}

#log {
    text-align: center;
}

.mic1 {
    text-align: center;
    padding-top: 10%;
}