<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Salsa&display=swap" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <br>
            <h1>Speech Recognition <br> Handspree</h1>
        </div>
    </div>
    <div class="mic1">
        <button><img src="assets/MicActive.png" class="Mic" alt="Mic"></button>
    </div><br>
    <div class="button-wrapper">
        <div id="speechButton" class="start"></div>
      </div>
      <div id="log">Click to start speaking</div>

    <script>
        var transcription = document.getElementById('transcription');
        var log = document.getElementById('log');
    </script>
</body>
</html>